@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply base styles and custom component styles here */
@layer base {
    body {
        @apply font-sans bg-gray-50 text-gray-800;
    }
    code {
        /* Apply base code styling */
        @apply bg-gray-200 text-gray-700 px-1 py-0.5 rounded text-sm font-mono break-all;
    }
    dt {
        /* Add base styles for definition terms if needed */
    }
    dd {
        /* Add base styles for definition descriptions if needed */
    }
}

@layer components {
    .dtu-pattern-bg {
        /* Ensure the path is correct relative to the web root */
        background-image: url('/static/DTU_Background_Pattern_Corporate_Red_RGB.jpg');
        background-color: #990000; /* Fallback color */
        background-size: cover; /* Or 'contain' or specific size */
        background-position: center center;
        background-repeat: no-repeat;
    }

    .accordion-header {
         @apply w-full text-left px-4 py-3 bg-gray-100 hover:bg-gray-200 font-semibold text-gray-700 flex justify-between items-center transition-colors duration-150 cursor-pointer;
    }
    .accordion-content {
         @apply border-t border-gray-300 p-4 bg-white; /* 'hidden' class will be toggled by JS */
    }
    .accordion-icon {
        @apply text-lg font-mono;
    }
}



